[2020-09-27 18:51] seanjensengrey opened #2 "sponsor directly through github"
I am unable and now unwilling to sponsor through patreon, furthermore direct github sponsorships do not take a cut.

I'd like to give you 20$/month to support this project.

[2020-09-28 06:51] ostera commented on #2
Hej @seanjensengrey, oh wow, thanks a million! I'm waiting on verification from the Github staff :) I'll ping you when the option is available.

[2020-09-28 11:16] olafura opened #3 "Licence"
Hi this project looks really interesting but it's missing a licence file

[2020-09-28 15:57] #3 closed

[2020-09-28 15:58] ostera commented on #3
@olafura hi! I've now licensed this work as BSD 3-Clause :)

[2020-09-28 19:25] #2 closed

[2020-09-28 19:26] ostera commented on #2
Aaand we're go on the Github Sponsors setup! ✔️

[2020-09-29 14:40] seanjensengrey commented on #2
Thanks so much! Done.

[2020-09-30 08:46] michallepicki opened #4 "Unbound module Stdlib when trying to check a basic erlang module"
On the [latest release page](https://github.com/AbstractMachinesLab/caramel/releases/tag/v0.0.3) I saw an interesting point:

And I wanted to try this out. So I downloaded the release, created a basic erlang module and saw this:

[code]

What am I doing wrong?

[2020-09-30 08:54] michallepicki commented on #4
As a note, I think it would be nice if the `caramelc` added a newline at the end of the output for the tty

[2020-09-30 09:06] mseri commented on #4
The error happens when the runtime cannot determine the OCaml standard library in its lookup path. I don't think you are doing anything wrong, maybe something needs to be done to make the released binary more portable?

The same happens on my mac, with ocaml 4.11.1 and 4.10.1 installed

[2020-09-30 09:10] michallepicki commented on #4
I didn't even know `ocaml` was needed for that feature, so I don't have it installed. I thought the compiler is a self-contained statically linked executable (but I guess maybe I could have predicted it if its main purpose is to compile ocaml code...)

[2020-09-30 09:16] mseri commented on #4
That is what I was expecting as well, and why I was surprised to see your comment. Maybe it is just a matter of adding or removing a compilation flag. Are you using mac or linux?

On linux I think it also links glibc, for relocatable builds I usually use alpine for that reason.

[2020-09-30 09:26] michallepicki commented on #4
My system information, if you think it may be useful. It uses glibc:
[code]

[2020-09-30 09:32] ostera commented on #4
Hi @michallepicki and thanks for reporting this! :) -- I'll try to replicate this over lunch and get back to you.

[2020-09-30 09:40] yetkinozturk opened #5 "Large repository due to metadata"
Hey,

I am willing to have a look at the project and hopefully contribute to it in the future (improving my ocaml skills now :P) but one thing caught my attention.
the .git folder his huge, would you consider a cleanup?
[code]

[2020-09-30 09:43] ostera commented on #5
Hi @yetkinozturk, sure thing! There's a branch that might be guilty, `trunk`, which is essentially the HEAD of the OCaml repo from where this was originally forked. That branch has ~20k commits in it!

I've left it there for the time being, but it should be cleaned up.

I'll have a look at it over lunch :)

[2020-09-30 10:11] ostera commented on #5
It's been cleaned 🆗

[2020-09-30 10:11] #5 closed

[2020-09-30 10:15] yetkinozturk commented on #5
ah I didn't know it has such history. Thanks 👍

[2020-09-30 11:21] ostera commented on #4
Managed to replicate 👍🏼 -- I'll write back here any progress.

[2020-09-30 20:30] ostera commented on #4
Alright so I managed to pack _a_ Stdlib with the release. Truth is the OCaml stdlib as it is is not very useful anyway, and I'll have to patch it up as I go to make the compilation more idiomatic.

As of the next tag, the release will be a tarball of two things:
- caramelc.exe
- stdlib (dir)

As long as those two are in the same directory, you should not get an `Unbound module Stdlib` error.

[2020-10-01 11:05] ostera commented on #4
So I got a few things in, including publishing build artifacts on every job (so I am not forced to cut a release until its actually releasable 😅 ) -- would you  mind trying one of these?

https://github.com/AbstractMachinesLab/caramel/actions/runs/282176647

Not sure if that link is fully public, so here's both linux builds:
[caramel-main-x86_64-linux-musl.tar.gz](https://github.com/AbstractMachin

[2020-10-01 11:19] michallepicki commented on #4
@ostera
[code]

[2020-10-01 11:27] ostera commented on #4
Of course, latest ubuntu is running glibc_2.31 -- I may need to build on ubuntu-16.04 for the gnu build, and use 20.04 for the musl one.

Its running now on main... 🤞🏼

[2020-10-01 11:34] michallepicki commented on #4
@ostera I am still running 18.04, my glibc version seems to be `2.27`, sorry for that. I would understand if you want to support only the latest ubuntu.

[2020-10-01 11:36] ostera commented on #4
There's a few packages that I'd have to backport (i think) to get a 16.04 build against glibc_2.23-ish -- so instead I'll build against 18.04 which is what I was building against before.

Sorry this whole glibc thing got tangled in! 🙌🏼

[2020-10-01 11:52] ostera commented on #4
@michallepicki keep an eye open for this one: https://github.com/AbstractMachinesLab/caramel/actions/runs/282255225 -- the gnu binary should be built against glibc 2.27 🚀

[2020-10-01 12:06] michallepicki commented on #4
It runs! Does something, writes two files `.cmo` and `.cmi` and returns the process with success status (`0`) for this module. Closing! Thank you, I'll tinker with this more some other time.

[2020-10-01 12:06] #4 closed

[2020-10-01 12:19] ostera commented on #4
Awesome! Thanks for opening this issue 🙌🏼

Yes, the `.cmo` and `.cmi` are some of the compilation artifacts. If you get those, it means the sources type-checked correctly, and they can be used to speed up type-checks of dependent modules (and to break caches, etc).

These are artifacts of the OCaml compiler toolchain, and are really more useful when working with a build system like [dune](https://

[2020-10-09 23:15] ostera opened #6 "v0.1 - OCaml on the BEAM"
## Summary

I have not found an easy way to lay out what a release for Caramel should look like, so I'm sketching out this issue with a a big checklist of stuff that I think could be somewhat usable for pure-OCaml modules.

To do this we need:

* **the core type language**, excluding support for the fancier features of the type system (like GADTs, or universal quantification in records), so varian

[2020-10-09 23:25] ostera opened #7 "v0.1 - OCaml libraries to manipulate Erlang"
## Summary

Caramel currently supports generating Erlang source files from an OCaml typed-tree, and it aims to support type-checking a subset of Erlang using the OCaml type-checker as well.

To do this, we need to have good support of the Standard Erlang language at 3 levels: parsing, AST, and printing.

Parsing for reading the Erlang source files. AST for manipulating the structures (and converti

[2020-10-09 23:43] ostera opened #8 "v0.1 - Standard Library on the BEAM"
## Summary

While #6 is about getting support for a set of OCaml language features, this issue is about putting together a standard library that can be used to interface with the Erlang standard library in a more-or-less idiomatic way.

This likely means 2 things: FFIs and a small runtime library. Some modules might be a combination of both.

## Checklist

### FFIs

In any case, some of these modu

[2020-10-09 23:53] ostera opened #9 "Cascading match cases result in empty patterns"
This OCaml:

[code]

Should compile to this Erlang:

[code]

but compiles to this Erlang:

[code]

This is a bug somewhere in [compiler/ocaml_to_erlang/fun.ml:L246-L258](https://github.com/AbstractMachinesLab/caramel/blob/main/src/compiler/ocaml_to_erlang/fun.ml#L246-L258) --  and possible in the `mk_pattern` function of the same module.

[2020-10-10 00:05] ostera opened #10 "Function references have the wrong arity"
After the last refactor of the Erlang printer, we no longer look up the arity of a function at print time, and thus the default arity that's [set to zero here](https://github.com/AbstractMachinesLab/caramel/blob/main/src/compiler/ocaml_to_erlang/fun.ml#L171) is always printed out.

So this OCaml:

[code]

that should compile to this Erlang:

[code]

Compiles instead to this erlang:

[code]

Note t

[2020-10-10 10:11] ostera opened #11 "Support parenthesized expressions in Erlang parser"
The following Erlang code:

[code]

should parse to the equivalent of:

[code]

But is currently unsupported by the grammar in [`./src/erlang/erl_parser.mly`](https://github.com/AbstractMachinesLab/caramel/blob/main/src/erlang/erl_parser.mly).

[2020-10-10 10:15] ostera opened #12 "Forbid function redefinitions in an OCaml module"
This OCaml source code:

[code]

should result in a compilation error explaining that module functions can only be defined once, and multi-clause functions are achievable by the use of the `function | pattern_1 -> expr_1 | pattern_2 -> expr_2` syntax.

This currently yields a function redefinition:

[code]

Which is not valid Erlang.

All of the modules are available as we translate them (see [`OC

[2020-10-10 10:37] ostera opened #13 "Forbid let rec inside of a let binding"
The following OCaml

[code]

should emit a compilation error that `let rec` bindings inside of a function definition are not allowed. It should suggest the programmer to just define an auxiliary function outside, and it can reuse the name of the let rec binding for it. For example:

[code]

Instead it compiles to this Erlang:

[code]

which is misleading at first, but we can tell is wrong because

[2020-10-10 10:45] ostera opened #14 "Support parsing of Erlang expression sequences"
The following Erlang code:

[code]

Should parse to the equivalent AST:

[code]

So this looks like a degenerate case of let binding, where the expression A is bound to `_`. At the moment that's how this is being worked around, so `_ = A`, can be parsed, and is equivalent to `A`.

There is definitely work to be done in `./src/erlang/erl_parser.mly`, and for inspiration we can look at the way the O

[2020-10-10 11:00] ostera opened #15 "Ensure OCaml variable names are translated to valid Erlang"
The following OCaml code idiomatically indicates that the new variable started as the old variable and is somehow changed, by _priming it_, or adding a `'` to its name.

[code]

This should compile to Erlang as:

[code]

but it instead compiles to this:

[code]

To fix this, we need to work on the [`Compiler.Ocaml_to_erlang.Names` module](https://github.com/AbstractMachinesLab/caramel/blob/main/sr

[2020-10-10 11:09] ostera opened #16 "Forbid name shadowing through let binding"
The following OCaml code idiomatically indicates that the new variable started as the old variable and is somehow changed, but it has the same name.

[code]

This should either error, saying that name shadowing is not supported. Itinstead compiles to this:

[code]

Which will error at runtime.

To fix this, we can modify [`Compiler.Ocaml_to_erlang.Fun.mk_bindings`](https://github.com/AbstractMachi

[2020-10-12 21:03] ostera opened #17 "Support for Guards"
Discussing support for guards with @MargaretKrutikova don't think we can come up with a transform that would preserve the semantics of the guard in the presence of side-effects.

E.g, if they are lifted up, bound to a variable name, and then used in a regular boolean equality check, you'd evaluate all the guards even if you match the first one.

This ocaml:

[code]

would compile to some Erlang, l

[2020-10-13 18:55] #11 closed

[2020-10-20 11:58] ostera opened #18 "Support Reason syntax too"
That's it. Just bring in the Reason parse transform onto the pipeline.

[2020-10-20 12:42] seanhinde opened #19 "Getting the README example running"
**Readme example**
I'm trying to get the server on the README page running. Two things so far:

1. Process.make - I'm thinking this should be Process.spawn now?
2. I can't figure out how to get erlang versions of the stdlib runtime modules

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new rebar3 app
2. Add the caramel README code to src/holder_annotated.ml
3. caramel compile holde

[2020-10-20 16:00] ostera commented on #19
Thanks for bringing this up! Excellent point. I'll have to add a flag so there could be multiple compilation targets at one go. Then Caramel can ship its .erl stdlib as well so you can just point to it with `erlc`'s `-pa` path flags.

Working out a rebar3 plugin would be fantastic 🙌🏼  I'm thinking the plugin could just download the appropriate binary and then you have full control over the paths o

[2020-10-20 16:03] seanhinde commented on #19
Sounds great!

[2020-10-20 16:24] ostera commented on #19
Oops! Apparently the word "fix" closes the issue 😅

[2020-10-20 16:43] seanhinde commented on #19
Seeing some compile errors in the generated stdlib_process.erl:

===> Compiling src/stdlib_process.erl failed
src/stdlib_process.erl:17: type variable 'A' is only used once (is unbound)
src/stdlib_process.erl:19: function '__caramel_recv'/0 undefined
src/stdlib_process.erl:25: type variable 'A' is only used once (is unbound)
src/stdlib_process.erl:29: function recv/0 undefined
src/stdlib_process.e

[2020-10-20 18:01] ostera commented on #19
I managed to clear out all those errors you mentioned, except the `recv/0` function being undefined. This is a blocking issue I need to fix first: https://github.com/AbstractMachinesLab/caramel/issues/10

[2020-10-20 18:14] ostera opened #20 "Safe and named fresh type variables"
In this commit: https://github.com/AbstractMachinesLab/caramel/commit/e9163337e275e895195b58e38986a97a8ebb1687 I've replaced all instances of fresh type variables with `any`, in an attempt to unblock #19 -- after all those type signatures are not necessary for the Erlang code to compile and execute.

However, I do want to have this feature available, but it has one problem: a signature like `unit

[2020-10-20 18:29] ostera commented on #20
After some playing around, this actually won't work either. We can only have bound variables as direct function parameters. I'll need to think about what's useful here on the Erlang side.

[2020-10-20 20:42] seanhinde commented on #19
Do let me know if you have stuff you want to get sorted before dealing with this. I can come back :)

[2020-10-21 07:19] ostera commented on #19
I think #10 is a good next thing to get done. After that this issue might be resolved.

I'll make a new issue for allowing compiler annotations that can be turned into module attributes, to allow for `-compile({no_auto_import,[spawn/1]})` to be set. This seems useful as well.

[2020-10-21 07:31] ostera opened #21 "Allow for arbitrary module attributes"
While working on #19, the error traces pointed out that the `Process.spawn` function was shadowing Erlang's `spawn`.  This can be overcome with a compiler directive, which we can't write at the moment, such as `-compile({no_auto_import, [spawn/1]}).`.

Allowing these compiler directives is useful for:
* redefining functions with standard names
* allowing NIF `on_load` functions to be defined
* add

[2020-10-21 17:46] seanhinde commented on #19
Some more progress today. I have the README example running. Hello Joe! (RIP)

A few things needed:
1. Copied process.erl and beam_io.erl into my project and manually fixed up the errors and warnings in both. The other .erl files (maps.erl etc) fight with the OTP modules with the same names - I think they need to go back to being prefixed even if it means lots of name mangling / unmangling.

2. Pr

[2020-10-22 10:02] ostera commented on #19
Regarding the --stdlib-path flag, keep an eye on [this build](https://github.com/AbstractMachinesLab/caramel/runs/1291799270) -- it fixes the paths so you can use `make install` and it'll find the stdlib there too. I tried it locally and it seemed to work on Ubuntu 20.04.

[2020-10-22 11:02] #10 closed

[2020-10-22 11:49] ostera commented on #19
Regarding the additional .erl files -- currently the only one that is included in the release tarball is `process.erl`, since the rest should be empty or point to types that should be mapped to OTP types.

[2020-10-22 12:54] seanhinde commented on #19
Closer and closer. stdlib-path default now works for me after make install from latest head.

Still a few smaller things I'm sure you already have on your list:

1. The generated process.erl still has type variables the erlang compiler doesn't like
2. I kind of feel the need for an Io.ml so merlin can work. You have beam_io.ml  - I guess this is a workaround for some other issue?

I will have a go

[2020-10-22 13:00] ostera commented on #19
@seanhinde yup! getting there 🚀

The latest head should produce the following `process.erl`, which for me compiles without warnings on Erlang 23. Could you try on a clean build and see if you get the same file?

[code]

For 2) could you try using the full path? `Beam.Io.format`? The `Beam` module is opened by default, but otherwise should still be available.

[2020-10-22 16:06] seanhinde commented on #19
process.erl looking good. no more warnings :)

Beam.Io.format fixes merlin, but compiles to:

    beam__io:format(<<"current_state: ~p\n">>, [State | []])

beam__io is not an erlang module in the tree. beam_io.erl exists in your generated files but uses a non existing '__unsafe_fmt'(S, X).

As an experiment I renamed beam_io.ml to io.ml and changed the dune files and beam.ml to match. Everything n

[2020-10-22 16:48] ostera commented on #19
Sweet! Yeah there'll be some .erl files that are not included in the actual release (`beam_io.erl` being one of them), since they are just compilation garbage.

Could you try making a local alias?

[code]

Or with an explicit open?

[code]

[2020-10-22 17:01] #19 closed

[2020-10-22 17:08] ostera commented on #19
@seanhinde I figured what was breaking with the module name and now its called just `io.ml` :) so Merlin should work just fine now.

Quite a ride! 🎢 -- thanks for all the feedback btw, it helped me get the release in order and I'm a lot happier with it now. We covered:

* fixing the stdlib path to work with dune install structure
* ship process.erl as part of the stdlib and make sure it compiles w

[2020-10-22 17:20] seanhinde commented on #19
Thanks so much. Super cool. I'll take a look at a rebar3 plugin - no promises when though - I will also spend some time using the system.

[2020-10-23 06:47] #12 closed

[2020-10-23 07:25] #16 closed

[2020-10-23 07:33] #15 closed

[2020-10-23 07:40] #13 closed

[2020-10-25 11:06] seanhinde opened #22 "rebar3 plugin"
As promised in #19 I've had a go at a [rebar3 compiler plugin](https://github.com/seanhinde/rebar3_caramel)

So far this is standalone and very basic, relying on an existing caramel installation and very new rebar3 features

I'm not sure about rebar3 support for git submodules, but I'm happy for you to host this as another repo under AbstractMachinesLab if and when you think it's ready.

[2020-10-25 11:12] seanhinde commented on #22
Also just realised it doesn't handle process.erl. That one I had copied manually into my rebar3 project. I'll iterate a bit more..

[2020-10-25 12:15] seanhinde commented on #22
Added an example project to the plugin repo.

It's not at all clear to me how to handle the caramel runtime modules. Maybe in the direction of lfe and have the plugin install its own local caramel and take care of everything.

Or this plugin is a short term effort and crane will become the one true way for all caramel projects.

Thoughts? Preferences?

[2020-10-27 07:39] ostera commented on #22
Hej @seanhinde sorry for the delay 🙏🏼  been pretty swamped at work. This looks phenomenal 🚀 and thanks so much for putting time into it.

I'd very much like to have this plugin available since crane may take some time to get to a releasable state, and rebar3 is already here.

I think the plugin will have to detect the arch you're running on and download the right release file from Github for it to

[2020-10-28 09:59] ostera commented on #6
## Checklist

To make it easier to keep track of what's what and where we currently are, here's a list of the features that are currently working and missing. Where necessary I'll try to make separate issues and link them here.

### Idioms

- [X] Empty tuple `()` is a common value in OCaml, this is translated to the atom `ok` in Erlang. This is not _entirely_ idiomatic, since some functions  are g

[2020-10-28 23:35] ostera commented on #7
## Checklist

The library should contain:

* a definition of an AST for Erlang,
* a parser that follows the [Standard Erlang grammar](https://github.com/erlang/otp/blob/master/lib/stdlib/src/erl_parse.yrl), and
* 2 printers: a debugging S-expr printer, and a Standard Erlang printer

### Language Support

This list and its completeness is a work in progress.

#### Preprocessor Language

- [X] Macro

[2020-10-28 23:36] ostera commented on #8
## Checklist

### FFIs

In any case, some of these modules will have to break direct compatibility with their Erlang equivalents due to their APIs being uncomfortably unidiomatic OCaml or untypeable in OCaml.

- [x] `Binary`
  - [x] `at/2`
  - [x] `bin_to_list/1`
  - [x] `copy/2`
  - [x] `decode_unsigned/2`
  - [x] `encode_unsigned/2`
  - [x] `first/1`
  - [x] `last/1`
  - [x] `list_to_bin/1`
  -

[2020-10-28 23:48] ostera commented on #22
Hej @seanhinde I tried to use the plugin and while I got a clean `rebar3 compile` without errors it didn't seem to pick up the .ml file I had around. This was on the example project included.

I essentially:
* git cloned
* ran rebar3 compile on the example project, saw that caramelc wasn't on path
* made sure caramelc was on path
* ran rebar3 clean, compile on the example project
* run tree -9, an

[2020-10-28 23:55] ostera commented on #22
Ah, nevermind, I had modified the .ml file and forgot about it. It fails silently when there's a type-checking error at the moment but otherwise it does seem to work 🙌🏼  🚀

[2020-10-29 21:57] seanhinde commented on #22
Nice. I should find some more time to work on it soon. I also have a job, but have half an eye on this being useful there

[2020-10-29 22:43] ostera opened #23 "Support record updates"
The following OCaml currently does not compile:

[code]

Whereas it should compile to:

[code]

To get this done, we need to look into the `extended_expression` of the `Texp_record` value and if it is _not None_, then use that with the already existing `Expr.map_update` function from the Ast helpers.

[2020-10-29 22:49] #23 closed

[2020-10-29 23:14] ostera commented on #8
This seems good as it is right now. We'll open a new issue to collect missing FFIs before we tag v0.1

[2020-10-29 23:14] #8 closed

[2020-10-29 23:24] ostera opened #24 "v0.2 - OCaml libraries to manipulate Erlang"
## Summary

v0.1 of this library focused on getting as much of the language as possible handled by the parser, AST, and printer. This next version should complete that work, and put some emphasis on the usability of the parser with better errors by tracking location information.

## Checklist

### Usability and Errors

- [ ] Tokens carry positioning information

### Language Support

#### Pattern

[2020-10-29 23:25] ostera commented on #7
Postponing support for list comprehensions and records for now. We've got everything we need to support OCaml on the BEAM atm, and a little more. We'll do more work on this for v0.2 as described in #24

[2020-10-29 23:25] #7 closed

[2020-10-30 08:48] seanhinde commented on #22
A couple of immediate challenges:

Erlang's os:cmd/1 ignores the exit code of the command it is running. Solutions to this are a bit painful (there is a project erlexec, or we implement our own using the underlying primitives). If the output of caramelc is pretty regular another option is just to parse its output. I didn't look too closely.

As far as I can tell rebar3 doesn't provide a way to dow

[2020-10-30 14:32] ostera commented on #22
I think we could use [`os:type/0`](http://erlang.org/doc/man/os.html#type-0) to pick the OS for now and see how far that takes us.

For running `caramelc` we can probably use a port that we open/close. That should give us all the info we need.

Regarding the dependencies, I'd expect the rebar3 dependency tree to automatically build things in the right order, but I may be wrong.

What do you say we

[2020-10-30 16:55] #17 closed

[2020-10-30 18:52] #9 closed

[2020-10-30 18:57] ostera commented on #6
Aaand we're there. Closing this now.

I'm thinking that the next milestone will include no more work on this particular compilation chain, but rather on the inverse process: parsing and type-checking Erlang.

Thanks @nyaray for the push there to scope things more clearly.

[2020-10-30 18:57] #6 closed

[2020-10-30 19:16] ostera opened #25 "Refactor Erlang AST and Parser to carry location information"
In order to provide good error messages whenever there is a syntax error or a type error, we need to thread and carry this information on the AST.

[2020-10-30 19:22] ostera opened #26 "Support parsing of Record expressions and patterns"
**Checklist**:
- [ ] Record patterns
- [ ] Record expressions
  - [ ] New record
  - [ ] Record update

[2020-10-30 19:23] ostera opened #27 "Support parsing List comprehensions"

[2020-10-30 19:25] ostera opened #28 "Support parsing expression sequences"
At the moment expression sequences can not be parsed directly unless they are bind patterns.

A work around for this is to use the ignore pattern:

[code]

[2020-10-30 19:26] ostera commented on #24
I'll use milestones directly as checklists instead of summary issues.

Closing this one as #25 #26 #27 #28 have been created.

[2020-10-30 19:26] #24 closed

[2020-10-30 19:39] ostera commented on #28
Duplicate of #14 🤦🏼

[2020-10-30 19:39] #28 closed

[2020-10-30 19:59] seanhinde commented on #22
Sounds good to me. If you invite me as a user I can probably just import what I have

[2020-10-30 22:14] seanhinde commented on #22
Or you can probably clone my repo and import it as a new project here. I'm not that familiar with how GitHub roles work

[2020-10-31 18:49] ostera commented on #22
Hi! I think I sent you an invite as an outside collaborator but it don't really know what's what in that world. I'll look into it, but it seems that you should be able to go to settings and use the "Transfer ownership" button to get the process started from your end as well.

In the meantime I'm looking into making a `mix` plugin as well.

[2020-10-31 19:06] seanhinde commented on #22
Nice on the mix front. I fixed the os:cmd issue - rebar3_utils:sh/1 does the right thing.

to trigger a compile failure message it would be good if caramelc will do exit 1 if it finds errors

[2020-10-31 19:12] ostera commented on #22
Good find! That should be the case at the moment, did you find any errors for which it doesn't exit with != 0 ?

Btw, if you're on discord, I started a small server where we can keep the communication more fluid: https://discord.gg/SRpjUE99

[2020-10-31 22:23] ostera opened #29 "Update GitHub Actions workflows to use Env files"
We're getting a bunch of warnings about `set-env` being deprecated. e.g: https://github.com/AbstractMachinesLab/caramel/actions/runs/339535013

The `set-env` command is deprecated and will be disabled soon. We should upgrade to using Environment Files.

For whoever picks this up, here's a guide: https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

[2020-11-01 20:53] ostera opened #30 "mix plugin"
Right now to be able to use `caramelc` in an Erlang or Elixir project, we sort of have to manually invoke it in the right place and then also compile the caramel stdlib erlang sources and make sure its available. An entire dance.

It'd be useful to have a `mix` plugin to see what the interop from the Elixir side feels like so that we can just create a new mix project, and if you have caramel avail

[2020-11-01 21:16] ostera opened #31 "Verify inferred typedtree is consistent with the original typedtree"
One we can parse in the entire Erlang AST that we can generate from caramelc, the translation should end up in an OCaml Parsetree that we can typecheck successfully.

Even if we do typecheck correctly, we need to make sure that the inferred types are __isomorphic__ to the source types used to generate the Erlang code to begin with.

So that the following identity law holds: `types_of(parse(compile

[2020-11-03 10:10] seanhinde commented on #22
I have raised an [issue](https://github.com/erlang/rebar3/issues/2418) on rebar3 GitHub asking about their built in dependency handling. In theory it should be perfect for us, but I can't get it to work

[2020-11-03 20:20] ostera opened #33 "Set up tests to fuzz the compiler with AFL"
We need a way of testing that the compilation is successfully verifiable for a large space of OCaml programs. Talking to @rgrinberg he suggested to have a look into fuzzing.

Thankfully, there is enough support in the ecosystem to set up a pipeline for fuzzing.

[2020-11-03 23:19] ostera commented on #31
After a chat with @Drup on the OCaml discord, it seems that a plausible way of doing this is to compare the Parsetree instead, since the Typedtree isn't quite a tree, and it has cycles through type references, making if implausible to do a straightforward comparison.

So I'm closing this, since the method is there, we just need to start testing it and get it to cover the entire Parsetree successfu

[2020-11-03 23:19] #31 closed

[2020-11-06 16:00] drewolson opened #34 "How does one run the compiled erlang in the README example?"
I've been able to compile the [example](https://github.com/AbstractMachinesLab/caramel#examples) in the README, but when I attempt to run the generated erlang, I'm told that the function `process:make` does not exist. It seems this module is provided as part of caramel's stdlib, but it doesn't appear to be in erlang's load path. Is it expected that I somehow make this available before running my p

[2020-11-06 23:13] ostera commented on #34
Hi 👋🏼 -- the standard library is distributed as both typings and erlang sources, so you have to compile it and make it available in your path as follows:

[code]

Let me know how this goes :) I tried this steps when I documented them in the README (check the end of the Getting Started section) but its possible that I may have broken something too.

[2020-11-07 19:18] #34 closed

[2020-11-09 15:33] #29 closed

[2020-11-27 03:24] jrusso1020 commented on #30
@ostera I gave this a shot, you can see my repo here https://github.com/jrusso1020/mix_caramel let me know what you think. I haven't pushed it up to hex yet but planned to. The simple basic_project example seems to work but not sure if there's more that needs to be done.

The rebar plugin example definitely is doing a lot more

[2020-11-30 07:31] ostera commented on #30
Hej @jrusso1020! Thanks for this 🙌🏼 -- it looks really good! 😄, feel free to submit some of your changes to the one we have hosted in here btw: https://github.com/AbstractMachinesLab/mix_caramel so we eventually converge into a single one 😃

Re: how Gleam does it -- Gleam is partially [implementing a build system](https://github.com/AbstractMachinesLab/crane/issues/2#issue-711890213), which I won'

[2020-12-01 16:03] ostera opened #39 "Advent of Code 2020"
This is a list of bugs found and changes made during the Advent of Code 2020.

### Day 1

- [x] `Lists.foldl/3` and `Lists.foldr/3` had the wrong FFI signature
- [x] `Lists.foreach run_one days` generated a function reference that crashed at runtime when using `escript` &mdash; turns out this is an issue with the way `escript` runs the code rather than with the generated code!

### Day 2
- [x] Not

[2020-12-04 02:41] jrusso1020 commented on #30
Oh sorry about that, didn't realize there was already a repo 😬 . I renamed my repo, and have opened a PR for my changes. https://github.com/AbstractMachinesLab/mix_caramel/pull/1 which we can discuss there further, I'm open to keeping more of what was already there or adapting slightly.

One thing we may need to figure out is that I pushed my project up to hex already, but I think we can just over

[2020-12-08 11:56] #20 closed

[2020-12-08 13:13] ostera commented on #30
Sweet! We'll have a look shortly. Thanks! 🙌🏼

Will also close since we already have the repo there.

[2020-12-08 13:13] #30 closed

[2020-12-14 18:33] banjomet commented on #25
This sounds incredibly useful and I would like to help. What files do you think I should start looking at?

[2020-12-14 18:45] ostera commented on #25
Hej @banjomet this is a rather involved task but I'd be happy to help you get on board.

Right now I'm trying to move away from the Menhir parser an into the `tree-sitter-erlang` parser so the first thing we'd have to do is, well, redefine the Parsetree type 🙈 &mdash; worry not! I've got something in the works that I'll be merging sometime soon and we can have this chat again then.

In the meantim

[2020-12-16 07:09] ostera commented on #22
Closing this since we have the separate repository now: https://github.com/AbstractMachinesLab/rebar3_caramel

[2020-12-16 07:09] #22 closed

[2020-12-30 18:36] ostera commented on #39
Alright! We made it to day 2.

Not too bad, considering the main blocker was LAM.

[2020-12-30 18:36] #39 closed

[2021-01-08 18:06] nicobao commented on #18
As mentioned on Discord, I start looking at it!

[2021-01-10 11:30] nicobao opened #40 "Rust not mentioned in documentation + `make deps build` fails"
**Describe the bug**

The documentation does not inform users that `cargo` and `rust` dependencies are needed to build `ocaml-tree-sitter` when running `make deps build`.

Even when `rust` version `1.49.0` is installed, the following error occurs:

[code]

**To Reproduce**
1. Install the rust toolchain : https://www.rust-lang.org/tools/install
2. Run `make deps build` in the root directory of the

[2021-01-19 23:08] ostera commented on #27
This is currently possible thanks to the `tree-sitter-erlang` grammar.

[2021-01-19 23:08] #27 closed

[2021-01-19 23:08] ostera commented on #26
This is currently possible thanks to the tree-sitter-erlang grammar.

[2021-01-19 23:08] #26 closed

[2021-01-19 23:09] ostera commented on #14
This is currently possible thanks to the tree-sitter-erlang grammar.

[2021-01-19 23:09] #14 closed

[2021-01-21 12:07] ostera commented on #40
I've inverted the dependency on `ocaml-tree-sitter` so the `erlang` module doesn't actually depend on it for parsing, and instead just provides the tree types.

We're still using the Menhir parser for now, but in the future we'll get rid of that as well so the `erlang` library is just a collection of types, a printer, and some utilities to work with these.

[2021-01-21 12:07] #40 closed

[2021-01-21 12:08] ostera commented on #25
I've merged a preliminary Parsetree in `erl_parsetree.ml` that we can start using. It is not currently in use, but we can start migrating to it.

[2021-01-21 12:08] #25 closed

[2021-01-21 20:16] nicobao commented on #18
I am working on using `refmt` programmatically to convert reason source code to ocaml before proceeding to compile it to Erlang.

However, I am wondering how that can work out with Reason-flavored Caramel IDE support.

How can we provide decompiling tooling referencing the original source code if we lost this information in the first place by using refmt?

I mean, for regular Reason support, we ca

[2021-01-21 22:19] ostera opened #41 "Tooling support"

[2021-01-21 22:27] ostera commented on #18
Hej @nicobao, it'd be useful if you could open a draft PR and we can look at some code together there as well.

Keep in mind that we want to ship a single executable that has no dependencies, so we will need to use the `reason` opam library instead of calling out to any binaries. My guess is that there is a `string -> (parsetree, error) result` function in there that we should use, and that functi

[2021-01-21 22:52] nicobao commented on #18
Hi @ostera!

Of course, that is what I am doing (reason dependency) :).
I will send a draft PR whenever I have something workable!

Nicolas

Le jeu. 21 janv. 2021 à 23:27, Leandro Ostera <notifications@github.com> a
écrit :

[2021-01-23 11:30] ostera opened #43 "Handling of Errors"
After some consideration, I think I'd like error handling to be closer to Rust:

* Everything is a `result` if it can fail
* Or you consciously `panic!`

Panics are actual terminations, and would fit well with the supervision model of OTP. A Panic is a guaranteed process restart by the supervisor.

This would also mean forbidding all remnants of try / catch / exceptions from the language, and trea

[2021-01-23 11:58] michallepicki opened #44 "Function using Io.format compiles to wrong erlang"
**Describe the bug**
A simple function that taking no arguments in Caramel, that only runs `Io.format`, compiles to invalid erlang that says it is taking two arguments, which erlang/OTP cannot compile.

**To Reproduce**
[code]

**Expected behaviour**
`.erl` gets created with
[code]

[2021-01-23 12:16] michallepicki commented on #44
I think it may be because I thought there is an `Io.format` function that takes one argument but there's only a two argument version? Still I think this should not be the result, I don't know where the `ok` in spec comes from and why spec args do not align with function args. I don't know much Ocaml but should that compile to something like
[code]
?
Or
[code]
?

[2021-01-23 14:15] michallepicki commented on #44
Also tried on `0fe81e7`, same result

[2021-01-23 14:52] ostera commented on #44
Thanks for filing this!

Since Caramel is an ML, we do partial application by default. When you called `Io.format x` what you get back is a function `'a list -> unit`.

You're correct that this is a bug because the signature of `hello/0` is incorrect.

The right signature should be `hello() -> fun( (list(_)) -> ok ).`

[2021-01-23 14:59] ostera commented on #44
[code]

This doesn't quite track because in the Caramel source you still have to call `hello () args`, and that unit is being translated as an `ok`. Empty tuples `{}` in Erlang just don't aren't a convention.

[2021-01-23 15:00] ostera commented on #44
[code]

This would be the Right Thing ™️

[2021-01-24 21:14] nicobao commented on #43
I quite like Rust style of Error Handling.

[2021-01-25 08:21] ostera commented on #43
Excellent point! Yes, all Caramel code should be valid OCaml code syntactically.

Adding a reserved word in Caramel is fine because that word will still be valid OCaml code, it would just be an undefined symbol that needs to be polyfilled.

Adding new syntax, however, would be breaking. This we can do via ppx's (preprocessing extensions), but won't do at the parser level.

Restricting the syntax i

[2021-01-25 08:28] ostera commented on #43
When reusing Caramel code on the frontend, if it panics, you could get an exception and handle it in Reason code like you handle anything else.

But in a Caramel-only codebase, you are forced to handle errors via result instead, making it more uniform. If something panics, the supervision hierarchy will take care of restarting it.

[2021-01-25 08:33] ostera commented on #43
I see what you mean! Existing code that's throwing exceptions with `raise` will get a compiler warning/error saying that "raise" is unsupported.

Existing code that's _handling exceptions_ just won't compile.

This will be a divide in the ecosystem, so we should explore it and make a very conscious decision.

[2021-01-25 13:19] michallepicki opened #47 "Build documentation on CI instead of requiring contributors to run mdbook locally"
I would like to contribute to the documentation, but I am not very happy when doing that requires me to install additional tooling. Then, there are potential conflicts in HTML. Additionally, I think because `mdbook` is available in various versions and platforms, requiring contributors to install it may result hard to debug bugs or regressions.

Rendering the documentation on CI, would allow contr

[2021-01-25 13:30] michallepicki commented on #47
I could probably work on that sometime this week (if approved)

[2021-01-25 13:44] michallepicki commented on #47
[Here](https://docs.github.com/en/actions/reference/authentication-in-a-workflow#permissions-for-the-github_token) are permissions for the `GITHUB_TOKEN` that is automatically available in each action. The forked repos already have only a `read` permission. For PRs from within the repository (created by maintainers) I think configuring the action to only run from `master` is good enough.

[2021-01-25 21:07] #47 closed

[2021-01-25 22:47] ostera opened #49 "Standard Library Ideas"
* Core
  * Logger
  * OS
  * Binary Strings
  * RegExps
  * Calendar and Dates
  * ETS
  * IO
  * Lists
  * Maps
  * Processes
  * Result
  * Option
  * Timers
  * FileSystem & Paths
  * Crypto / Hashing
* Net
  * HTTP
  * URI/URL
* RFC and other Protocols
  * UUID
  * MIME
  * Encodings (Base64)
  * CSV
  * TOML / YAML
  * JSON

Feel free to drop below your ideas for the standard library and if y

[2021-01-26 09:03] michallepicki commented on #43
For division by zero the plan is to panic like Ocaml does?

For the result types used / promoted in the standard library, I had hopes that the Ocaml ecosystem has some patterns to steal that would be "more typed" than just `(x, string) result` everywhere, but still convenient and composable to use. Maybe leveraging polymorphic variants or row polymorphism somehow?

[2021-01-26 10:06] ostera commented on #43
Yes, I think setting up the polyvariant errors as a default is a good idea to allow easy error return composition.

I was thinking we can follow this pattern: https://github.com/ostera/reason-design-patterns/blob/master/patterns/polyvariant-error-propagation.md

[2021-01-26 10:06] ostera commented on #43
That and the `let+/and+` syntax is fundamental to writing happy-paths without losing track of errors. Very much like Rust's `?` operator.

[2021-01-26 10:07] ostera commented on #43
Arithmetic and other runtime-provided functionality will end up having the semantics of the Erlang runtime. So division by zero is a panic (exception).

[code]

[2021-01-26 11:33] nicobao commented on #49
Maybe, the ability to run native OCam as NIF without hassle, and safely?
I was thinking about starting an OCaml equivalent to Rustler... This could be just a third-party library though.

[2021-01-26 12:02] nicobao commented on #41
Besides the fork of Merlin, we'll also need our custom language server supporting the standard MS protocol (and running Merlin behind be scene to do the hard work, as you suggested!)
I suppose we can fork either Erlang LSP or OCaml LSP (or even Elixir LS which is more mature) and work on that. It's a shame that Erlang LSP doesn't rely on a shared library implementing a language agnostic LSP protoc

[2021-01-26 15:33] yawaramin commented on #49
I would add a decimal floating point type. Fortunately, there is one for OCaml :-) https://github.com/yawaramin/ocaml-decimal

[2021-01-26 15:48] ostera commented on #49
@yawaramin good thinking! Thankfully Erlang/OTP has baked in bigint support -- how would you have structured your library if OCaml's int was already a big int? 🤔 Anything in particular you'd rework?

[2021-01-26 16:02] ostera commented on #49
@nicobao i think its a good idea to provide a path forward to writing NIFs in OCaml as well, but we're descoping this for the time being. We can revisit it later on! 🙌🏼

[2021-01-26 18:30] yawaramin commented on #49
Interesting, @ostera so Erlang ints can automatically become bigints? Same as Python I guess. Let me look into functorizing it and get back to you. There are a couple of other things that might be tough to port over though, e.g. I am using mutable arrays. Does Caramel allow that?

[2021-01-26 18:45] ostera commented on #49
We may need to parametrize the functor with that too 😂 -- there's no mutable data by default in Erlang/Elixir, but you can build support for it via NIFs (natively-implemented-functions). I have done so before for a few things like memory mapped ring buffers that essentially behave as byte arrays. Performance is better, of course, but I'm yet to compare with OCaml's.

The big problem is that now yo

[2021-01-27 20:39] nicobao commented on #18
Question: shall I support both `reason -> erlang (AST)` and `reason -> Core Erlang`? Are we decided onto one path to compile to Erlang. I have 0 experience regarding this so obviously, it's your call.
I am curious about your experience @ostera? I read this https://github.com/rvirding/lfe/issues/361 and that https://elixirforum.com/t/whats-the-main-reason-that-elixir-chooses-to-compile-to-abstract-

[2021-01-27 21:49] nicobao commented on #18
Also, for `.mli` files, native OCaml compilation is currently used: `Optcompile.interface` as seen here https://github.com/AbstractMachinesLab/caramel/blob/main/caramel/compiler/compiler.ml#L52
I suppose, I'd just do the same for reason as of now?

[2021-01-28 23:57] ostera commented on #18
Sorry, I missed these comments. 🙈

We should get one path up first, so Reason -> Parsetree -> Typedtree -> Erlang AST should work fine.

Once you have the Typedtree, the `Optcompile.interface` will be the same for .rei and .mli -- this function creates the `.cmi` files that OCaml uses for type-checking.

re: the quotes & core erlang support, it is likely we'll have to invest more time into that la

[2021-01-29 14:41] progman1 opened #51 "parsing erlang terms"
I run Erlang.Parse_from_file on
https://github.com/erlang/otp/blob/master/lib/wx/api_gen/wxapi.conf

and get the error
[code]
probably because the file defines terms to be read by file:consult/1
and is not appropriate to the front door of your parser.
but with a different entry point it could parse terms?

[2021-01-29 16:03] ostera commented on #51
Could you show me the file you're trying to parse?

Or an equivalent file that also breaks like this?

That'd help me see if there's anything that I know is currently unsupported by the Menhir parser or if we need to spend some time digging.

Thanks for opening the issue! 🙌🏼

[2021-01-29 17:42] progman1 commented on #51
the link to it is above but here/s an excerpt:
[code]

[2021-01-30 11:26] ostera commented on #51
Oh, sorry, I missed the link.

The parser I think will have trouble parsing that since its built to parse an entire Erlang module. I started the [`tree-sitter-erlang`](https://github.com/AbstractMachinesLab/tree-sitter-erlang) project to address some of these limitations, but I haven't yet integrated it into the `erlang` library.

You could try using that tree-sitter parser with something like `oc

[2021-01-30 13:51] progman1 commented on #51
I don't fully understand!
Terms are part of the erlang language aren't they?
What's the newest erl-parsetree.ml have on the old?
I saw that the parser as-is had just the one entry point (very reasonably :).
And I imagined that another entry point into the grammar could be added,
one directly to 'Terms'.
Which may not be true if 'Term' syntax is not part of the erlang language itself....

You have

[2021-01-31 08:41] ostera commented on #51
@progman1 let me try to answer your questions :)

Yes, they are.

one directly to a 'Terms' rule.

We could make a new parser that reuses the expression language from the main parser, yes. This is because Menhir allows only one `%start` entrypoint.

The Menhir parser is only directly usable within OCaml code, the Tree-sitter parser can be used anywhere with tree-sitter bindings. This is Rust libra

[2021-01-31 10:17] hgabe opened #52 "problem with windows security"
![caramel_defender](https://user-images.githubusercontent.com/4083664/106380953-a1b82e80-6383-11eb-9398-5e036bda847b.PNG)

wondering if its a false positive

[2021-01-31 11:50] progman1 commented on #51
thanks for clarifying.
I will tackle the low-hanging fruit! I have done some messing with menhir and something
might be doable about entry points via converting to ocamlyacc grammar first, for an even lower hang!

[2021-01-31 13:29] ostera commented on #52
That's weird! Could you try with the v0.1.0 release?

[2021-02-01 01:13] progman1 commented on #51
I have a parsed file :)
happily, menhir does actually accept more than one start symbol.
I had to do dangling commas in tuples and lists - maybe that isn't valid expression language after all?  (I don't know if 'term' language is any different to expressions)
the file also had multi-line strings which I took to mean should be stuck back together
(macro stringification?) so a change there too.

if

[2021-02-01 06:37] ostera commented on #51
Well I stand corrected! 🙌🏼 I didn't know that, thanks for showing me. Please send a patch 🎉 we can discuss the changes on the PR.

[2021-02-10 18:13] michallepicki opened #55 "Support OCaml style floating point syntax without trailing numbers after dot"
Currently this Caramel code compiles:
[code]

to this Erlang:
[code]

Erlang compilation fails with:
[code]

This should either:
a) compile to `42.0` in Erlang
b) or print a helpful error when compiling Caramel

Caramel 0.1, Erlang 23.2.2

[2021-02-11 11:20] michallepicki opened #56 "Function undefined for many externals from the Core module"
**Describe the bug**
When using many of the automatically included functions from the Core module, the Caramel code compiles, but Erlang code does not compile with `function x/N undefined` errors.

**To Reproduce**
1. Create a file `main.ml` with
[code]

2. Run command `caramel compile main.ml && escript main.erl`
3. See errors:
[code]

**Expected behavior**
When Caramel code compiles, Erlang code

[2021-02-11 11:31] michallepicki opened #57 "Wrong result for externals from the Core module"
**Describe the bug**
When using many of the automatically included functions from the Core module, the Caramel and generated Erlang code compiles, but has wrong result after being ran.

**To Reproduce**
1. Create a file `main.ml` with
[code]

2. Run command `caramel compile main.ml && escript main.erl`
3. See wrong result:
[code]

**Expected behavior**
The correct result would be:
[code]

I think

[2021-02-11 11:33] michallepicki commented on #57
I am not super sure about the short-circuit operators semantics in OCaml, I found this issue that confuses me more than helps: https://stackoverflow.com/questions/23833221/order-of-evaluation-for-short-circuit-operators-and-let-in-ocaml

But in general, OCaml stdlib documentation says they should be short-circuiting, so I _think_ they should translate to `andalso` and `orelse` as noted above.

[2021-02-11 12:03] michallepicki opened #58 "Local function is shadowing imported function with the same name in generated erlang"
**To Reproduce**
1. Create a file `main.ml` containing
[code]
2. Run command `caramel compile main.ml && escript main.erl`
3. Erlang gets generated with
[code]
4. When running, it results in:
[code]

**Expected behavior**
Erlang gets generated with
[code]
and running it results in
[code]

**Environment (please complete the following information):**
 - OS Ubuntu Linux 18.04
 - Caramel version 0.1

[2021-02-11 12:14] michallepicki opened #59 "Support expression sequences"
**Describe the bug**
When combining multiple OCaml expressions with `( expr1 ; expr2 )` or `begin expr1 ; expr2 end`, the resulting Erlang code is "flattened" and can have different result than expected or not compile at all.

**To Reproduce**
1. Create a file `main.ml` containing
[code]
or
[code]
2. Run command `caramel compile main.ml && escript main.erl`
3. See error:
[code]

This happens becau

[2021-02-11 22:43] michallepicki commented on #57
I looked into fixing this and it seems that the way the code generation currently works, it would be easiest to have additional functions in `caramel_runtime` because `andalso`, `orelse` and `div` are not functions exported from the `erlang` module. I am honestly surprised the other operators are. I think there's no guarantee that it will stay this way as they are not documented there.

Should I s

[2021-02-12 09:09] michallepicki commented on #57
This leads to another related issue, currently:
[code]
generates
[code]

where it lacks the `erlang:` prefix and the arity is wrong. Not sure if this is something that should be supported right now or not.

[2021-02-12 10:07] michallepicki opened #62 "Fix windows dependencies cache on CI"
**Describe the bug**
Windows "Install Dependencies" step is taking minutes.

**Expected behavior**
Windows CI builds should be able to restore the cache and the "Install Dependencies" step should not install dependencies when cache was successfully restored.

I think the cache with that key for Windows may be just stuck for some reason and it needs to get kicked by manually adding some `v-2` strin

[2021-02-12 10:34] #55 closed

[2021-02-12 18:27] ostera commented on #62
I changed the key and reran the workflow on the main branch, but I haven't seen an improvement.

I think the caching paths are off on windows? 🤔

[2021-02-12 18:34] ostera commented on #41
I've been looking more into the `ocaml-lsp` project and I think it makes most sense to vendor since it already comes with Merlin vendored as well.

On top of this, we may get away by submitting a patch to the `vscode-ocaml-lsp` plugin that makes the actual lsp binary path configurable so it points to `caramel lsp` instead. I can't promise it'll be _that easy_, but it can't be that hard 🙌🏽

[2021-02-12 18:38] ostera commented on #52
Any luck with v0.1 @hgabe ?

[2021-02-12 18:47] michallepicki commented on #58
Related test (I think): https://github.com/AbstractMachinesLab/caramel/blob/c2562fa4486ec907761ef3a31e839e16ffa29bc7/tests/compiler/expressions.t/names.ml#L18

[2021-02-12 19:20] joprice commented on #52
Apparently you can submit files that are false positives to improve their model https://www.microsoft.com/en-us/wdsi/filesubmission

[2021-02-12 22:01] nicobao commented on #41
Yes!
We might benefit from looking into that project: https://github.com/axelson/ls_proxy

[2021-02-12 22:46] michallepicki commented on #56
I submitted https://github.com/AbstractMachinesLab/caramel/pull/63 and https://github.com/AbstractMachinesLab/caramel/pull/64 for the low-hanging fruits, I will update the issue description to reflect the state of master if/when the second one gets merged.

[2021-02-13 19:34] axelson commented on #41
I'd love to collaborate on LSP Proxy! It's a bit rough around some of the edges but it can be very helpful in understanding all of the messages that are going back and forth between the server and client.

[2021-02-14 17:28] nicobao commented on #49
For debugging, I think having an equivalent of `IO.puts` and `IO.inspect` for generic `'a` types would be neat.

[2021-02-17 18:16] michallepicki commented on #56
@ostera I am not sure what to do about the remaining ones, as they don't directly translate to Erlang operators or functions in the `:erlang` module (I think, I may be wrong about some of them). Are any of these very common and expected to be working in OCaml code? Or should we remove them all from Core for now?

[2021-02-17 19:27] ostera commented on #56
At this point feel free to trim down the stdlib whenever you find something that doeesn't immediately make sense. We'll have to time to harden and stabilize it before we get to 1.0.

[2021-02-27 15:50] michallepicki opened #67 "Annotating types for function arguments compiles to wrong erlang"
**Describe the bug**
When function arguments have their types specified in a function definition, the Erlang code produced is not valid. Currently only the function return type can be annotated without breaking.

**To Reproduce**
1. Create a file `main.ml` containing:
[code]
2. Run command
[code]
3. See error
[code]

`main.erl` contains:
[code]

For some reason `add` arguments are ignored (`_`) an

[2021-02-27 17:05] michallepicki opened #68 "Nested let-in expressions compile to wrong erlang"
**Describe the bug**
When a `let` expression value contains a `let` expression, the generated erlang is "flattened" and running the code produces an incorrect result (or may not compile at all)

**To Reproduce**

1. Create a `main.ml` file containing
[code]
I would format it slightly differently, to have the last line nested one level less, or with parens around the nested let-in, but that's how t

[2021-02-28 09:21] #58 closed

[2021-03-02 20:24] michallepicki commented on #67
I will look into that, possibly relates to https://github.com/AbstractMachinesLab/caramel/pull/38

[2021-03-03 17:25] shawn-mcginty commented on #68
What should the erl code look like in this case.  I'm not super familiar with erlang and I couldn't find a nice way to do nested expressions (after googling for only a few minutes). I was thinking wrapping in an anonymous function?

[code]

This looks ugly to me though.

[2021-03-03 17:35] michallepicki commented on #68
Hey @shawn-mcginty , I think it would be a `begin` / `end` expression block:
[code]

[2021-03-03 17:37] shawn-mcginty commented on #68
Exactly what I was looking for, thank you @michallepicki !

[2021-03-03 17:42] michallepicki commented on #68
There is a related ticket to translate the ocaml expression sequences to that as well #59 (don't worry about the `&&` / `andalso` ementioned there, there is a separate ticket to discuss how those should behave, I should change the example there to have something different)

[2021-03-04 08:58] ostera commented on #52
Done! Closing this. @hgabe feel free to reopen if you've got more info to share :)

[2021-03-04 08:58] #52 closed

[2021-03-04 19:21] ostera opened #70 "Fun references of operators have the wrong arity and module name"
From #57 by @michallepicki:

This leads to another related issue, currently:

[code]
generates

[code]
where it lacks the erlang: prefix and the arity is wrong. Not sure if this is something that should be supported right now or not.

[2021-03-04 19:24] michallepicki commented on #59
This may be a good point to start: https://github.com/AbstractMachinesLab/caramel/blob/main/caramel/compiler/ocaml_to_erlang/fun.ml#L399

[2021-03-04 21:31] #56 closed

[2021-03-05 06:56] michallepicki opened #72 "Pipe operator support"
It would be great to have support for the pipe operator. It is a common way in many functional programming languages to compose functions into a readable left-to-right or top-to-bottom "pipeline" of steps of computation.

[Documentation in OCaml stdlib](https://ocaml.org/releases/4.11/htmlman/libref/Stdlib.html#VAL(|%3E))
[Documentation in Elixir Kernel](https://hexdocs.pm/elixir/master/Kernel.htm

[2021-03-05 07:28] michallepicki commented on #72
The easiest way to make it work right now I think, would be to make the partial function application compile to anonymous functions first (tracked in https://github.com/AbstractMachinesLab/caramel/issues/44) and then introduce a pipe function in `caramel_runtime` that this operator could compile to. It still wouldn't work when running with the `escript` example from above, but I think at least it

[2021-03-05 08:32] ostera commented on #72
I agree that I'd expect this to behave like in OCaml. I also think that I should bring up that ReScript and Reason chose to favor "pipe first" (`->`) instead, which behaves just like Elixir's pipe, because it was said that it type inference with records was better.

I haven't really experienced any problems with `|>` that I can recall right now, to be honest, just felt that I should bring this up.

[2021-03-05 17:43] michallepicki commented on #70
May be related to https://github.com/AbstractMachinesLab/caramel/issues/10 fixed in https://github.com/AbstractMachinesLab/caramel/commit/1b4e6b80083920a748b9e4ebda88cb48271bd740 ? At least it may be a good starting point to dive in

[2021-03-06 11:45] ostera opened #73 "Make it clear to see what's different from the standard OCaml lang+runtime"

[2021-03-06 11:49] ostera opened #74 "Add a hello world snippet in the frontpage"
Perhaps we could add the tiny HTTP server there?

https://github.com/AbstractMachinesLab/caramel/blob/main/examples/practical.t/echo.ml

That I think showcases a few cool things (like the fact that we do type-checked messages). But maybe we want to add a variant or a record too to showcase the type system a little more?

[2021-03-06 11:53] ostera opened #75 "Make it clear we need Erlang installed"
It was pointed out that it seems confusing to say Caramel has no external dependencies when you actually need Erlang installed to run the generated code.

Maybe we could update the manual to reflect this better?

Side-note: it would be epic [LAM](https://github.com/AbstractMachinesLab/lam) in good shape to bundle it with Caramel, that way we could build tiny binaries directly too.

[2021-03-07 08:27] #75 closed

[2021-03-07 08:53] ostera opened #76 "Idiomatic Elixir wrappers for generated code"
Right now we're generating a bunch of Erlang code that can be clunky to call from Elixir. It should be relatively straightforward to generate Elixir wrappers that use `defdelegate` to call the underlying Erlang modules while looking more idiomatic.

After all, we have the entire module paths available as well when we flatten them out, so we can use them for namespacing as well.

So this Caramel co

[2021-03-07 09:37] ostera opened #77 "Unclear behavior when renaming FFIs"
When writing FFIs, regardless of the structure of the code on the Caramel side, we want all of it to go away.

I'd like FFIs to be cheap, so I can throw an `external` pretty much anywhere and be able to call that function.

Here's some examples that are inconsistent right now. The first external is the only one that behaves correctly I think:

[code]

Generates the following Erlang:

[code]

Where

[2021-03-07 09:41] ostera commented on #77
Current workaround is to make a new .ml file with the name of the module you want, and make it include only externals.

[2021-03-08 01:15] clsource commented on #74
It would be awesome to have a Hello Phoenix too.
As an example of how to do some basic Elixir/Phoenix coding with Caramel :)

[2021-03-08 01:20] clsource commented on #73
Maybe some examples of OOP OCaml Code
and how that could be implemented using Caramel

[2021-03-08 06:38] #18 closed

[2021-03-10 01:21] hgabe commented on #52
ok tried the latest version does this have a repl and I cant quit the repl

[2021-03-10 16:44] michallepicki commented on #59
I will look into this one

[2021-03-10 17:28] #67 closed

[2021-03-10 19:00] erszcz commented on #68
@michallepicki I think translating an ML-style `let .. in` to an Erlang `begin .. end` it too simplistic. Please consider the following example (also using the sequence operator `;`):

[code]

[2021-03-10 22:48] michallepicki commented on #68
Maybe adding unique suffixes (e.g. numbers) to resolve naming clashes would allow to avoid the IIFEs?

[2021-03-10 23:24] michallepicki opened #82 "Mention caramel parse command in CONTRIBUTING.md"
It is immensely useful for hacking on the compiler itself. https://github.com/AbstractMachinesLab/caramel/blob/main/caramel/bin/cmd_parse.ml

[2021-03-10 23:39] michallepicki opened #83 "Support aliases in patterns"
http://caml.inria.fr/pub/docs/manual-ocaml/patterns.html#sss:pat-alias

It should translate to `Alias = pat` in Erlang.

https://github.com/AbstractMachinesLab/caramel/blob/d5128fce81b08a8007729f4c60f03297a8aa4b20/caramel/compiler/ocaml_to_erlang/fun.ml#L101

Example:
[code]

should translate to
[code]

[2021-03-13 18:46] nicobao commented on #44
I look at this.

[2021-03-13 21:16] erszcz commented on #68
@michallepicki Indeed, I think picking fresh variable names would work, if avoiding IIFEs is a goal. And it could be considered one, given IIFEs imply a slightly bigger overhead than a translation with plain variables.

[2021-03-13 21:18] michallepicki commented on #68
@ostera thoughts? I don't think it would be hard to avoid IIFEs

[2021-03-14 13:39] nicobao commented on #44
So I suppose I should implement the Right Thing, even if it is highly unidiomatic?

[2021-03-14 14:04] nicobao commented on #44
I tried:

[code]
_test_hello.ml_

then
_caramel compile test_hello.ml_

which leads to no error, a `test_hello.cmi` file but no `erl` file.

If I try with

_test_ocaml.ml_

and I do `ocaml test_ocaml.ml`, it returns `Hello World`.

Is that normal that `in` operator is not accepted top-level?

[2021-03-15 06:34] ostera commented on #44
@nicobao yes, I think they're ignored but they probably should fail with an error (just like `let rec` within a `let`).

The automatic uncurrying _can be done_ (as shown by BuckleScript), but that's a larger task than undoing the work I did for it. Let's start there, translating the functions as they are, and we can optimize later 🙌🏽

[2021-03-15 06:44] ostera commented on #68
I've referred to this in @erszcz's PR: https://github.com/AbstractMachinesLab/caramel/pull/81#issuecomment-799158500

[2021-03-15 10:50] michallepicki commented on #59
With #80 as of e2f88eb  we're getting this output:

[code]

and it runs:
[code]

[2021-03-19 11:55] hvnsweeting opened #84 "The sources of the following couldn't be obtained, aborting: - erlang.0.0.14"
**Describe the bug**
I'm trying to build Caramel on OpenBSD 6.8, as no binary provided, so I compile from source.

I ran gmake setup and got the error:

[code]

**Expected behavior**
Setup successful.

**Environment (please complete the following information):**
 - OS: OpenBSD 6.8
 - Caramel version: 0.1.0 - master at c34a95210133cba59d09e2209ad4c50a2e396b37
 - Erlang version:  Erlang/OTP 21 [erts

[2021-03-21 18:38] michallepicki commented on #68
I'll start working on it, and hopefully I will also make variables shadowing work as well, adding suffixes to names in a similar fashion

[2021-03-24 18:48] michallepicki commented on #68
The example from issue description will be already fixed in #80 (I added it as a test). There will be still issues with variable names mentioned in https://github.com/AbstractMachinesLab/caramel/issues/68#issuecomment-795916884 , I'm looking into generating unique names similarily to how Gleam does

[2021-03-25 08:44] #59 closed

[2021-03-25 08:45] #83 closed

[2021-03-26 19:20] michallepicki commented on #70
This may or may not be related, fun references of regular functions (not operators) cannot be used this way:
[code]

results in
[code]

`fun` and the `/arity` is missing

[2021-03-26 21:18] ayshiff commented on #72
@ostera I would love to implement this!

[2021-03-28 08:52] ostera commented on #72
@ayshiff dope! 🚀  the easiest would be to expose `(|>)` as an external that maps to a `caramel_runtime:pipe/2` function somewhere.

But feel free to give it an initial stab by just hacking around the compiler, and we can then refine it 🙌🏽

[2021-03-29 22:01] #70 closed

[2021-04-01 18:04] michallepicki commented on #68
Since the original example is now working, let's close this and have a new issue for generating unique variable names to deal with Erlang scoping issues related to expression blocks

[2021-04-01 18:04] #68 closed

[2021-04-01 18:59] michallepicki opened #93 "Generate unique variable names to deal with name shadowing and Erlang bindings escaping expression blocks"
From @erszcz 's [comment](https://github.com/AbstractMachinesLab/caramel/issues/68#issuecomment-795916884)
**Describe the bug**
We're now translating Caramel's expression blocks (`begin ... end` or `( ... )`) and some of `let` bindings (nested ones intentionally, and other ones unintentionally but that's not causing major issues other than reduced readability), to Erlang's `begin/end` blocks. Unfo

[2021-04-01 19:28] michallepicki commented on #93
[code]
I'm looking at those `a/23` names, which suggests there's some number assigned by OCaml to names in the typedtree already that we may be able to just re-use...

[2021-04-01 19:51] michallepicki commented on #93
Those are `stamps` and sometimes `scope` numbers of an `Ident.t` [source](https://github.com/ocaml/ocaml/blob/d10908cc514b2f6a6d79e2859549542d0c28a11b/typing/ident.ml#L22-L23) - I think we can use them!

[2021-04-16 20:01] #82 closed

[2021-04-18 16:51] AeroNotix commented on #49
It's unclear from the discussion here whether the intention is to wholesale implement a separate Caramel standard library, with similar functionality as Erlang's - or provide FFI bindings to them.

From playing with Caramel it appears that there's quite a lot missing in the FFI bindings to Erlang standard library functions. Would PRs be acceptable to add more and more in, or is there a different i

[2021-04-18 17:08] AeroNotix opened #96 "Map Literal syntax"
Hi,

Does Caramel support the map literal syntax? I can't find examples or documentation which point to it being available.

[2021-04-18 17:57] AeroNotix opened #97 "Atom/Variant which is just underscore is a Syntax Error"
Hi,

I'm trying to convert some code which uses the underscore atom: `'_'`, in this case I'm trying to convert some cowboy_router code. It uses `'_'` to mean "any host.

I understand that in OCaml a variant cannot be just named underscore:

[code]

Is there a workaround?  There is a pretty well-established convention in Erlang code to use the underscore atom to generally mean 'match anything'. See

[2021-04-18 18:32] michallepicki commented on #96
Hi!
OCaml records translate to Erlang maps with atom keys: https://caramel.run/manual/guides/syntax-cheatsheet.html#records

[code]

[2021-04-18 19:55] AeroNotix commented on #96
Ah, apologies. I'd read that part of the docs but must've assumed that they were mapping to Erlang _records_. Not maps!

[2021-04-18 19:55] #96 closed

[2021-04-19 01:12] AeroNotix opened #98 "Are parameterized modules/functors available?"
Hi,

I'm trying to make use of parameterized modules / functors and maybe I'm missing something.

[code]

When I compile this file with `caramel compile *.ml` the main function gets compiled into such:

[code]

Yet there is no `pmod.erl` file created, which is how I sort of expected the parameterized modules to be implemented.

[2021-05-07 09:40] AeroNotix commented on #98
@ostera where can I look to start learning how to implement this?

[2021-05-18 19:44] Simerax opened #100 "Wrong Compiler Version in Release 0.1.1"
**Describe the bug**
If you download the current release "0.1.1" and run `caramel version` the output is `caramel v0.1.0` instead of `caramel v0.1.1`.
I have only tested this with `caramel-v0.1.1-x86_64-unknown-linux-gnu.tar.gz` but my guess is the other builds are affected as well.

**Environment (please complete the following information):**
 - OS: Linux (gnu not musl)
 - Caramel version: latest

[2021-05-21 21:05] ostera commented on #100
Thanks! It's probably a mistake in how we're bundling the version number into the final binary.

[2021-05-25 19:12] xandkar commented on #97
Dunno about Caramel per se, but this works:

[code]

[2021-05-25 20:17] AeroNotix commented on #97
@xandkar hello there :)

I'm really not versed in how the OCaml compiler is being extended or used with Caramel. Is adding an "exception" for this common Erlang use-case of arbitrary atoms to map to Variants feasible?

[2021-05-26 09:01] AeroNotix commented on #98
@xandkar any thoughts on my thinking here?

I was thinking that functors could compile down into "just" another Erlang module with a specific module call being replaced in each instance of a functor.

Can functors be dynamically created at runtime in OCaml? I can't find any documentation which allows for that and cannot seem to make OCaml do that.

[2022-01-08 15:58] tmbb opened #103 "Function declarations with explicit type annotations compile to the wrong Erlang code"
**Describe the bug**

Explicit type annotations seem to compile to the wrong Erlang code.

**To Reproduce**

[code]

compiles to:

[code]

**Expected behavior**

I'd expect something like this:

[code]

[2022-02-26 13:42] tmbb commented on #103
Ok. What does the new compiler bring to the table that couldn't be done with the current one?

I've looked into Gleam and I don't see it bringing anything that OCaml doesn't do better. Maybe a different approach based on dependent typing or something else not related to the HM typesystem would be valuable, but I don't think Gleam is going in that direction.

[2022-02-26 13:52] ostera commented on #103
The new compiler is a full rewrite that uses the OCaml Lambda and translates it directly into Core Erlang. It's also architected _so much better_, so onboarding into it, fixing things and growing it, will be much more productive.

The last thing I've been playing around is a syntax that has less quirks and is more modern, mainly inspired by ReScript and Rust. This would also allow building an inte

[2022-02-26 17:13] tmbb commented on #103
I once tried to hack OCaml's Lambda intermediate representation, but I didn't have much success. I hope you succeed there! I agree with you that's probably the best representation if you want to compile to Erlang (I believe that they added more metadada to the Lambda representation which probably makes it easier).

I'm not a huge fan of OCaml's syntax (although it's less noisier and better than mo

[2022-02-26 20:19] ostera commented on #103
@tmbb re: as many features as possible, I hear you. I think one example would be OCaml 5 effects -- this may be one of the features that are just too hard to map onto the BEAM. A lot of ground to explore here, and barely any resources to do it! 😄

re: trying it out, the branch is up under the name `sugarcane` (yes! another candy from my land), but you need a fork of the OCaml compiler to run it --

[2022-02-27 11:00] tmbb commented on #103
I understand why you'd need a full year, then. The metadata you add is important to deal with variants, but it's a little invasive for the compiler.

[2022-03-08 10:57] ostera commented on #103
The current `main` branch doesn't depend on my OCaml fork, but it also has several bugs that you'd have to work around. If you are interested in trying this out for real, I'd love to learn more about your use case to see how much work `sugarcane` needs to fit your needs.

Worst case scenario, we can just use the OCaml fork while we wait for changes to be upstreamed. After all, as a language user y